<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <style>
        body {
        background-image: url('/img/image.jpg');
        background-size: cover;
         background-position: center;
          background-attachment:  fixed;
        }
    </style>

<body>

</head>
<h1 class="text-center my-5">"ДОБРО ПОЖАЛОВАТЬ В ГОСТИНИЦУ"</h1>

<hr class="border border-primary border-3 opacity-75">


<div class="p-3 mb-2 bg-info-subtle text-info-emphasis">
    <div class="row align-items-start">
        <div class="col">

            <div class="dropdown_rooms">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                    Управление номерами
                </button>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item active" href="/rooms">Показать все номера</a></li>
                    <li><a class="dropdown-item" href="/add-room">Добавить номер</a></li>

                    <li><a class="dropdown-item" href="/delete-room/">Удалить номер</a></li>
                    <li><a class="dropdown-item" href="/edit/">Отредактировать номер</a></li>
                    <li><a class="dropdown-item" href="/search-numbers">Найти комнату по номеру</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                </ul>
            </div>
        </div>
        <div class="col">

            <div class="dropdown_clients">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                    Управление клиентами
                </button>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item active" href="/clients">Показать всех клиентов</a></li>
                    <li><a class="dropdown-item" href="/add-client">Добавить клиента</a></li>
                    <li><a class="dropdown-item" href="/delete-client/">Удалить клиента</a></li>
                    <li><a class="dropdown-item" href="/search-surname">Найти клиента по ФАМИЛИИ</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                </ul>
            </div>
        </div>
        <div class="col">

            <div class="dropdown_clients">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                    Управление бронированием
                </button>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item active" href="/bookings">Показать все бронирования</a></li>
                    <li><a class="dropdown-item" href="/add-booking">Добавить бронирование</a></li>
                    <li><a class="dropdown-item" href="/delete-booking/">Удалить бронирование</a></li>
                    <li><a class="dropdown-item" href="/">Найти бронирование по ID</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>
</html>